#basket
{
	padding:50px 0px;
	h1
	{
		text-align: center;
		padding:50px;
		font-size:75px;
		font-weight: 700;
	}
	table
	{
		tr
		{
			border-bottom:1px solid #BDBDBD;
		}
		.update-cart
		{
			border:none;
		}
		td
		{
			padding:20px;
		}
		td.product-count,td.product-price,td.product-total-price
		{
			padding:20px 50px;
		}
		.product-ignore
		{
			i
			{
				color:#BDBDBD;
				cursor:pointer;
			}
		}
		.product-image
		{
			div
			{
				width:100px;
				height: 130px;
				cursor:pointer;
				transition:all 0.2s ease;
				&:hover
				{
					opacity: 0.7;
				}
				img
				{
					width:100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.product-title
		{
			max-width: 200px;
			span
			{
				font-size:20px;
				font-weight: 700;
			}
		}
		.product-price,.product-total-price
		{
			span
			{
				font-size:17px;
				color:#BDBDBD;
			}
		}
		.product-count
		{
			input
			{
				width:60px;
				height: 50px;
				font-size:30px;
				border:none;
				border-bottom:2px solid #BDBDBD;
				text-align: right;
				padding:3px;
			}
		}
		.product-total-price
		{
			span
			{
				color:#404040;
			}
		}
	}
	button
	{
		margin:15px;
		border:none;
		background-color: transparent;
		color:black;
		font-size:13px;
		float:right;
	}
	.cart-total
	{
		background-color:  #E5E5E5;
		padding:50px;
		h3
		{
			font-size:13px;
			font-weight: 700;
			display: inline-block;
			margin-right:30px;
		}
		label
		{
			font-size:13px;

		}
		span
		{
			color:#9e9e9e
		}
		.col-md-9
		{
			div:first-child
			{
				margin-top:13px;
			}
			div
			{
				margin-left:-5px;

			}
		}
		.cart-total-price
		{
			margin-bottom:20px;
			span
			{
				font-size:25px;
				color: #212121;
				margin-left:15px;
			}
		}
		.proceed
		{
			margin-top:15px;
			text-align: center;
			a
			{
				color:white;
				background-color: #4CAF50;
				padding:15px 89px;
			}
		}
	}
}