@import "_variables";
//<-----------------------FOOTER SECTION STARTS-------------------->

#footer
{
  text-align: center;
  padding:130px;  
  background-color: #DCEDC8;
  a
  {
    margin:15px;
    font-size:25px;
    color:#009688;
    &:hover
    {
      color:#388E3C;
    }
  }
}


//<-----------------------FOOTER SECTION ENDS-------------------->
